- name: ADT Deployment
  hosts: all
  tasks:
    - name: Download from Artifactory
      get_url:
        url: "{{ ARTIFACTORY_HOSTNAME }}/artifactory/generic-local/var/local/adt/Cypress.pdf"
        dest: "/tmp/levent.pdf"
        headers:
           X-JFrog-Art-Api: "{{ ARTIFACTORY_API_TOKEN }}"
    - name: Message from the {{ tower_inventory_name }} environment
      debug:
        msg: "Deploying application {{ application_name }} version {{ application_version }} to {{ tower_inventory_name }} environment"
