- name: ADT Deployment
  hosts: all
  tasks:
    - name: Download from Artifactory
      get_url:
        url: "http://192.168.130.11:8081/artifactory/generic-local/var/local/adt/good_test.py"
        dest: "/tmp/levent.py"
        headers:
           X-JFrog-Art-Api: "{{ ARTIFACTORY_API_TOKEN }}"
    - name: Message from the {{ tower_inventory_name }} environment
      debug:
        msg: "Deploying application {{ application_name }} version {{ application_version }} to {{ tower_inventory_name }} environment"
